@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Stardos+Stencil:wght@400;700&display=swap");

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.img-square {
    aspect-ratio: 1;
}

.img-double-square {
    aspect-ratio: 2 / 1;
}

.img-section img {
    transition: filter 0.5s ease-in-out;
}

.img-section:hover img {
    filter: grayscale(100%);
}

.img-section:hover img:hover {
    filter: grayscale(0%);
}